
/*@font-face {*/
/*    font-family: "Roboto";*/
/*    src: local("Roboto Regular"),*/
/*    url("/fonts/Roboto-Regular.ttf") format("ttf");*/
/*    font-weight: 400;*/
/*}*/
/*@font-face {*/
/*    font-family: "Roboto";*/
/*    src:  local("Roboto Medium"),*/
/*    url("/fonts/Roboto-Medium.ttf") format("ttf");*/
/*    font-weight: 500;*/
/*}*/
/*@font-face {*/
/*    font-family: "Roboto";*/
/*    src: local("Roboto Bold"),*/
/*    url("/fonts/Roboto-Bold.ttf") format("ttf");*/
/*    font-weight: 700;*/
/*}*/
@font-face{
    font-family: "Montserrat";
    src: local("Montserrat-Regular");
    src: url("/fonts/Montserrat-Regular.ttf") format("truetype");
    font-weight: 400;

}

body{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;

}